.bannerContainer {
    position:relative;     
    height:100%;
}

/************** NAVBAR *****************/
.navbar {
    position:fixed;
    top:5px;
    z-index:10;
    background:#fff;
    border: 0;
    width:100%;
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 0;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 0.80);
}

.navbar-default .navbar-nav>li>a {
  color: #013d67;
}
.navbar-nav li a {
 line-height: 40px;
 font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #3e88da;
}

.logo{
  height: 40px;
  width: auto;
}

.carousel-caption {
    position: inherit;
    margin-top:100px;
    top: 900px;
    height:100%;
    color: #000;
    text-shadow: 0 0px 0px;
}

.carousel-inner{
  height:100%;
}

.item{
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.portrait{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
    float: none;
}

.panel{
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
}

.text-left{
    padding-left: 12px;
    padding-right: 10px;
}

.spacer{
    margin-top: 30px;
}

.bottom-spacer{
  margin-bottom: 120px;
}

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Droid Sans', sans-serif;
}

.carousel {
    height:100%;
}

/***************** FOOTER *****************/
#footer{
    position:fixed;
    bottom:-100px;
    width:100%;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.46);
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

#footer:hover{
  bottom:0px;
  background-color: rgba(255, 255, 255, 0.80);
}

#footer a:hover {
  background-color: #ff7d00;
}

#footer a{
  display: block;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background: #232323 center center no-repeat; 
}

#footer a.twitter {
  background-image: url('./img/twitter.png');
}

#footer a.facebook {
  background-image: url('./img/facebook.png');
}

#footer a.instagram {
  background-image: url('./img/instagram.png');
}

.fb-like{
   overflow: hidden !important;
}

#name-of-creator{
    color: #CCC8C8;
}