.bannerContainer {
    position:relative;     
    height:100%;
}

.navbar {
    position:absolute;
    top:30px;
    z-index:10;
    background:#fff;
    width:100%;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 0;
}

.carousel-caption {
    position: inherit;
    margin-top:100px;
    top: 100px;
    bottom: auto;
}

.portrait{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
    float: none;
}

.panel{
    background-color: rgba(0, 0, 0, 0.46);
    border: 0;
}

.text-left{
    padding-left: 12px;
    padding-right: 10px;
}

.spacer{
    margin-top: 30px;
}

h1, h2, h3, p{
    font-family: 'Roboto', sans-serif;
}

.carousel-background{
    height:100%; 
    width: 100%;
      
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel .about-img{
    background: url("/img/bg_01.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}