.bannerContainer {
    position:relative;     
    height:100%;
}

/************** FONTS *****************/
@font-face { font-family: Giorgio; src: url('./font/Giorgio.ttf'); } 
@font-face { font-family: Giorgio-Thin; src: url('./font/Giorgio-Thin.ttf'); } 

h1, h2, h3{
    font-family: Giorgio;
}

h1{
    margin-bottom: 30px;
}

p{
  font-family: 'Droid Sans', sans-serif;
}

/************** NAVBAR *****************/
.navbar {
    position:fixed;
    top:5px;
    z-index:10;
    background:#fff;
    border: 0;
    width:100%;
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 0;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 0.80);
}

.navbar-toggle{
  margin-top: 18px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #013d67;
  font-family: Giorgio;
  line-height: 40px;
  font-size: 17px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #3e88da;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #6F6F6F;
}

.logo{
  height: 40px;
  width: auto;
}

.news-item{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  margin-bottom: 20px;
}

.carousel-caption {
    position: inherit;
    margin-top:100px;
    top: 900px;
    height:100%;
    color: #000;
    text-shadow: 0 0px 0px;
}

.carousel-inner{
  height:100%;
}

.item{
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.portrait{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
    float: none;
}

.panel{
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 25px
}

.text-left{
    padding-left: 12px;
    padding-right: 10px;
}

.spacer{
    margin-top: 30px;
}

.bottom-spacer{
  margin-bottom: 120px;
}

.carousel {
    height:100%;
}

/***************** FOOTER *****************/
#footer{
    position:fixed;
    bottom:0px;
    width:100%;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.46);
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

#footer:hover{
  bottom:0px;
  background-color: rgba(255, 255, 255, 0.80);
}

a.facebook, a.twitter, a.instagram{
  display: block;
  margin-right: 15px;
  float: left;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 39, 66, 0.96) center center no-repeat; 
}

#footer a.twitter {
  background-image: url('./img/twitter_small.png');
}

#footer a.twitter:hover {
  background-color: #15558d;
}

#footer a.facebook {
  background-image: url('./img/facebook_small.png');
  
}

#footer a.facebook:hover {
  background-color: #013d67;
}

#footer a.instagram {
  background-image: url('./img/instagram_small.png');
}

#footer a.instagram:hover {
  background-color: #276caf;
}

.fb-like{
  overflow: hidden !important;
  float: right;
  line-height: 40px;
}

.name-of-creator{
  color: #ededed;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
}

.name-of-creator:hover{
  color: #121212;

}

@media (min-width:900px) {
    .desktop-only {
        display:block !important;
    }
}
 
@media (max-width: 899px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}